@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

header {
   display: inline;
}

* {
   box-sizing: border-box;
}

main {
   padding: 20px;
   overflow: auto;
}

h2, h3 {
   color: #252727
}

footer {
   padding: 5px;
   color: white;
   background-color: #0e0e0e;
   text-align: center;
   font-weight: bold;
}

nav {
   background-color: #252727;
   padding: 5px;
   position: sticky;
   top: 0;
   text-align: right;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav img {
  display: inline-block;
  height: 2.5em;
  float: left;
  margin: inherit;
  vertical-align: middle;
  margin: 0.5em 1em;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}
.profile header {
   text-align: center;
}

.profile img {
   width: 200px;
   height: 200px;
}

.profile table {
   text-align: left;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   overflow: auto;
}


#content {
   float: left;
   width: 75%;
}

aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

.btn-list {
  float: left;
  width: 10%;
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
}

.btn {
  text-align: center;
  background-color: #4caf50;
  color: #FFF;
  padding: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  cursor: pointer;
}

.btn:active {
  background-color: #206522;
}

.console {
  border: solid 3px;
  border-radius: 10px;
  float: right;
  width: 88%;
  height: 20em;
  font-family: "Chakra Petch", sans-serif;
  padding: 0px 1em; 
  overflow: auto; 
}

.player-info img {
  float: left;
  height: 12em;
  margin-right: 2rem;
}

.player-info img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.profile-img {
  background-color: white;
  border-radius: 100%;
  border: solid 1px rgba(134 , 134 , 134 , 0.4);
  display: inline-block;
  margin: 0 0 2em 0;
  margin: 0px;
  padding: 0.5em;
  object-fit: cover;
  object-position: center;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  5% { transform: translate(0px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(0deg); }
  15% { transform: translate(2px, -2px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(0deg); }
  25% { transform: translate(1px, -1px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  35% { transform: translate(-1px, 0px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(0deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}